* {
  margin: 0;
}

.App-header {
  width: 80%;
  margin: 0 auto;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.App-list {
  display: flex;
}

.App-list li,
a {
  margin-right: 20px;
  list-style: none;
  text-decoration: none;
  color: black;
}

.Hero-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-gap: 10px;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
}
